@page
@model AddDataModel
@{
    ViewData["Title"] = "Add Data";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="AddDataForm" method="post">

            </div>      
        </div>    
    </div>
</div>