@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="HomePage">
    <h1 class="Main Tiltle">Blockchain Network</h1>
    <img src="~/images/Overheid.png" alt="AppIcon" style="margin-left: 40px;"/>
</div>